__pycache__/
.cache/
.local/
.vscode/

.bash_history
*.csv
.DS_Store
*.pdf
*.png
.python_history
.viminfo
.devcontainer/
.gitconfig
.ssh/
.vscode-server/

!sample.png
!sample.csv
!sample.pdf
!sample/
